body {
    font-family: 'Times New Roman', Times, serif;
    background: #34ebdb;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

nav#topmenu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav#topmenu li {
    font-size: 24px;
    height: 40px;
    display: inline-block;
    padding: 20px;
}

nav#topmenu a {
    color: #fff;
    text-decoration: none;
}

nav#topmenu li:hover {
    background-color: #f2f063;
}

nav#topmenu a:hover {
    color: black;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

pre {
    text-align: center;
    font-size: 30px;
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
}

#game {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40px;
    gap: 60px;
}

.peg {
    position: relative;
    width: 120px;
    height: 300px;
    background: #f2f063;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.rod {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 240px;
    background: #876246;
    border-radius: 5px;
    }

.disk {
    height: 25px;
    border-radius: 8px;
    margin-top: 6px;
    text-align: center;
    line-height: 25px;
    color: #f2250f;
    font-weight: bold;
    cursor: grab;
    }

.disk.dragging {
    opacity: 0.5;
}

.peg.highlight {
    background: #345;
}

#controls {
    margin-top: 20px;
}

button {
    background: #1bc427;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

button:hover {
    background: #384a39;
    color: #fff;
}
